body {
  background-color: rgb(94, 80, 110);
}

p {
      color: rgb(255, 255, 255);
  }

  ul {
    text-align: center;
    list-style: inside;
  }

  li {
    text-align: center;
    list-style: inside;
  }